/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */


/* Textures or Patterns*/


/* Imagery */


/* Icons */


/* Navigation */
a:link{
    color: black;
}
a:visited{
    
}

a:hover{
    
}

a:focus{
    
    
}

a:active{
    
}
/* Typography */


